* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .top-bar {
    background: linear-gradient(to right, #333333, #aea79f);
    color: white;
    height: 60px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
  }
  
  .menu ul li {
    margin-right: 20px;
  }
  
  .menu ul li:last-child {
    margin-right: 0;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .content {
    background: linear-gradient(to bottom, #e95420, #77216f);
    color: white;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    line-height: 1.5;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }
  